.detail_container {
  margin: 50px;
  padding: 50px;
  height: 100%;
  & img {
    max-width: 230px;
    max-height: 400px;
  }
  display: flex;
  justify-content: center;
}

.detail_movie {
  width: 800px;
  background-color: white;
  margin: 70px;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: #adaeb9;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
              0 8px 16px -8px rgba(0, 0, 0, 0.3),
              0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.detail_movie a {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  grid-gap: 20px;
  text-decoration: none;
  color: inherit;
}

.detail_movie__relatedMovies img {
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    background-size: cover;
    transition: all 0.2s linear;
  }
  position: relative;
  top: 0px;
  max-width: 150px;
  max-height: 400px;
  width: 100%;
  margin-right: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
              0 18px 36px -18px rgba(0, 0, 0, 0.3),
              0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.detail_movie .detail_movie__title,
.detail_movie .detail_movie__year {
  margin: 0;
  font-weight: 300;
}

.detail_movie .detail_movie__title {
  margin-bottom: 5px;
  font-size: 24px;
  color: #2c2c2c;
}

.detail_movie .detail_movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}

.detail_movie__genres li,
.detail_movie .detail_movie__year {
  margin-right: 10px;
  font-size: 14px;
}

.detail_movie__summary {
  max-height: 200px;
  overflow-y: auto;
}

.detail_movie__relatedMovies {
  background-color: white;
  margin: 10%;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: #adaeb9;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
              0 8px 16px -8px rgba(0, 0, 0, 0.3),
              0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.detail_replies {
  & li {
    list-style: none;
  }
  background-color: white;
  margin: 10%;
  font-weight: 500;
  padding: 20px;
  border-radius: 5px;
  color: black;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
              0 8px 16px -8px rgba(0, 0, 0, 0.3),
              0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}