<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <style>
    div {
      border: 1px solid black;
    }
    span {
      color: blue;
    }
  </style>
</head>
<body>
  <div>
    <h1>never clone <span onClick="location.href='newall/index.html'">Go</span></h1>
    <h3>Use : Vue, scss</h3>
  </div>
  <div>
    <h1>movie app <span onClick="location.href='movie/movie_app_2024/index.html'">Go</span></h1>
    <h3>Use : React, axios</h3>
  </div>
</body>
</html>